<div class="navbar">
  <div class="row-fluid">
    <div class="span4">
    	<img src="{{ url_for('static', filename='img/logo_lni.png') }}" class="centered img-responsive" alt="TEDExperiments">
    </div>
    <div class="span4">
    	<img src="{{ url_for('static', filename='img/crono.png') }}" class="centered img-responsive" alt="TEDExperiments">
    </div>
    <div class="span4">
        <img src="{{ url_for('static', filename='img/up.png') }}" class="centered img-responsive" alt="TEDExperiments">
    </div>
  </div>
</div>