<div class="navbar">
  <div class="">
    <div class="container-fluid">
      <a class="brand" href="/">
        <img src="{{ url_for('static', filename='img/TEDxperiments_Logo.png') }}" class="img-responsive" alt="TEDExperiments">
      </a>
      <ul class="nav">
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        {%- if current_user.is_authenticated() -%}
        <li><a href="{{ url_for('profile') }}">Perfil</a></li>
        <li><a href="{{ url_for('security.logout') }}">Salir</a></li>
        {%- else -%}
        <li><a href="{{ url_for('security.login') }}">Entrar</a></li>
        <li><a href="{{ url_for('register') }}">Registrar</a></li>
        {%- endif -%}
      </ul>
    </div>
  </div>
</div>