{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main{% endblock %}

{% block layout %}


<div clas="row-fluid" style="padding-left: 30px; padding-right: 30px;">
  <h1>Bienvenido</h1>
  <p class="lead">Este es un cuestionario para averiguar las preferencias diarias y los habitos de sueños individuales en seres humanos.</p>
  <p>Por favor, lea la siguiente información antes de decidir participar de este experimento:</p>
  <div class="my-boxed-outer">
    <div class="my-boxed-inner">
      <p><b>¿Cuál es el objetivo de esta investigación?</b> El objetivo de esta investigación es estudiar las preferencias diarias y hábitos de sueño individuales en seres humanos.</p>

      <p><b>¿Qué tendré que hacer si decido participar de este experimento?</b> Deberá completar una serie de preguntas relacionadas con sus hábitos de sueño y sus preferencias diarias. Una vez finalizado el cuestionario, se calculará automáticamente su resultado y podrá conocer su cronotipo (un número relacionado con su grado de matutinidad/vespertinidad y una descripción del mismo).</p>

      <p><b>¿Cuánto tiempo requiere el experimento?</b>El experimento puede completarse en aproximadamente 10 minutos (incluyendo todas las tareas y las preguntas accesorias).</p>

      <p><b>¿Qué ocurre si me arrepiento y deseo abandonar el experimento antes de completarlo?</b> Su participación en este experimento es completamente voluntaria y puede abandonarlo en el momento que desee (cerrando el programa que está utilizando para navegar por internet).</p>

      <p><b>Si abandono una vez el experimento, ¿puedo volver a hacerlo en otro momento?</b> No. Debido a las características del experimento, cada participante tiene solo una oportunidad para participar.</p>

      <p><b>¿Cuáles son los riesgos asociados a la participación en este experimento?</b> No esperamos ningún riesgo asociado a su participación. Aún así, recuerde que su participación es voluntaria y que podrá abandonar el experimento cuando lo desee.</p>

      <p><b>¿De qué manera será utilizada la información que yo comparta con ustedes?</b>
      La información que usted nos brinde no será compartida con nadie y será tratada de manera confidencial y anónima.</p>

      <p><b>¿Cómo puedo contactarme con los investigadores responsables para hacerles consultas, comentarios, etc. relacionados con la investigación?</b>
      Si tiene alguna pregunta o comentario puede escribir a: María Juliana Leone (email: mleone@unq.edu.ar). Además, puede encontrar información de contacto de los directores de los laboratorios involucrados en nuestras páginas web:</p>
      <ul>
        <li>Laboratorio de Neurociencia (Universidad Torcuato Di Tella): http://neuro.org.ar/</li>
        <li>Laboratorio de Cronobiología (Universidad Nacional de Quilmes): http://cronos.unq.edu.ar/</li>
      </ul>

      <p><b>¿En qué proyecto está enmarcada esta investigación?</b>
      Esta investigación forma parte del proyecto “Complejidad y dinámica de procesos cognitivos: Estudios de alta resolución del flujo de información cortical durante una tarea cognitiva”.</p>

      <p><b>¿A quién debo contactar si tengo alguna queja o quiero reportar algún problema relacionado con la investigación?</b>
      Si tiene alguna queja o quiere reportar algún problema asociado con la investigación, por favor contáctese con:
      Comité de Ética en Investigación, Centro de Educación Médica e Investigaciones Clínicas “Norberto Quirno”. Hospital Universitario sede Saavedra, Av. Galván 4102. Ciudad de Buenos Aires, (C1425DQK) - República Argentina. Tel: 5299-0100, interno 2879. E-mail: pechavarria@cemic.edu.ar</p>
    </div>
  </div>

  <p>Haciendo <b>CLICK</b> en <b>CONTINUAR</b>, acepto participar de manera completamente voluntaria en este experimento, entendiendo tanto el objetivo de la investigación como la descripción de las tareas a realizar. Asimismo, certifico que soy mayor de 18 años y que comprendo que tengo la libertad de abandonar el experimento en cualquier momento que lo desee.</p>
  <div class="centered-text">
    <a href="{{ url_for('cronotipos')}}">
      <button type="button" id="start" class="btn btn-primary btn-lg">Continuar</button>  
    </a>  
  </div>
</div>  

{% endblock %}