{% macro render_hour_field(field) %}
  <div class="row-fluid cronotipos_form" >
    <div class="span3">&nbsp;</div>
    <div class="span6">
      {{ field.label }}
      {{ field.hours_field }} : {{ field.minutes_field}}
    </div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}


{% macro render_radio(radio_field) %}
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      {{radio_field.label }}
      <table>
        <tr>
          {% for subfield in radio_field %}   
            <td style="padding: 0px 10px;">
              {{ subfield }}
            </td>
          {% endfor %}    
        </tr>
        
        <tr>
          {% for subfield in radio_field %}   
            <td style="padding: 0px 10px;">
              {{ subfield.label }}
            </td>
          {% endfor %}  
        </tr>
      </table>
    </div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}

{% macro render_radio_horizontal(radio_field) %}
  
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      {{radio_field.label }}
      <table>
        {% for subfield in radio_field %}   
        <tr>
          <td style="padding: 0px 10px;">
            {{ subfield }}
          </td>
          <td>
            {{ subfield.label }}
          </td>
        </tr>
        {% endfor %}    
      </table>
    </div>
    <div class="span3">&nbsp;</div>
  </div>
  
{% endmacro %}

{% macro render_row(field) %}
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">{{ render_field(field) }}</div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}

{% from '_macros.html' import render_field %}

{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main{% endblock %}

{% block layout %}
<div class="page-header centered-text">
  <h1>Cuestionario de preferencias diarias y hábitos de sueño</h1>
  <p>Todos los datos ingresados serán confidenciales y tratados de manera anónima.</p>
</div>

{% if form.errors %}
  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
          <div class="alert alert-error centered-text" style="margin-left: 10px; margin-right: 10px;">
            <a class="close" data-dismiss="alert">×</a>
            {{ form[field_name].label }} Elija una opción
          </div>
      </div>            
      {% endfor %}
  {% endfor %}        
{% endif %}


<form class="well form-horizontal" action="{{ url_for('cronotipos_results') }}" method="POST">
  {{ form.hidden_tag() }}

  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      <h2>PRIMERA PARTE</h2>
      <p>En esta sección le haremos preguntas sobre sus hábitos del sueño. Por favor, responda de acuerdo a lo que usted considere una semana estándar, basándose en sus condiciones de vida actuales. Responda a todas las preguntas, excepto cuando se le indique lo contrario.</p>
      <h3>Días Hábiles</h3>
      <p>Por favor complete todas las siguientes secciones, independientemente de si usted trabaja regularmente o no.</p>
    </div>
    <div class="span3">&nbsp;</div>
  </div>
  
  {{ render_hour_field(form.pregunta_1) }}
  {{ render_hour_field(form.pregunta_2) }}
  {{ render_hour_field(form.pregunta_3) }}
  {{ render_radio(form.pregunta_4) }}

  
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      <h3>Días Libres</h3>
      <p>Por favor complete todas las siguientes secciones, independientemente de si usted trabaja regularmente o no.</p>
    </div>
    <div class="span3">&nbsp;</div>
  </div>

  
  {{ render_hour_field(form.pregunta_5) }}
  {{ render_hour_field(form.pregunta_6) }}
  {{ render_hour_field(form.pregunta_7) }}
  {{ render_radio(form.pregunta_8) }}

  
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      <h2>SEGUNDA PARTE</h2>
      <ul>
        <li>Responda todas las preguntas en orden.</li>
        <li>Lea primero detenidamente cada una de las opciones, esto le garantizará una mayor comprensión de la pregunta y su significado.</li>
        <li>Responda cada pregunta en forma independiente de las demás. No vuelva atrás a chequear las respuestas dadas anteriormente.</li>
        <li>Seleccione sólo una respuesta.</li>
      </ul>
    </div>
    <div class="span3">&nbsp;</div>
  </div>
  
  {{ render_hour_field(form.pregunta_9) }}
  {{ render_hour_field(form.pregunta_10) }}
  {{ render_radio_horizontal(form.pregunta_11) }}
  {{ render_radio_horizontal(form.pregunta_12) }}
  {{ render_radio_horizontal(form.pregunta_13) }}
  {{ render_radio_horizontal(form.pregunta_14) }}
  {{ render_radio_horizontal(form.pregunta_15) }}
  {{ render_radio_horizontal(form.pregunta_16) }}
  {{ render_radio_horizontal(form.pregunta_17) }}
  {{ render_hour_field(form.pregunta_18) }}
  {{ render_radio_horizontal(form.pregunta_19) }}
  {{ render_radio_horizontal(form.pregunta_20) }}
  {{ render_radio_horizontal(form.pregunta_21) }}
  {{ render_radio_horizontal(form.pregunta_22) }}
  {{ render_radio_horizontal(form.pregunta_23) }}
  {{ render_radio_horizontal(form.pregunta_24) }}
  {{ render_hour_field(form.pregunta_25) }}
  {{ render_hour_field(form.pregunta_26) }}
  {{ render_radio_horizontal(form.pregunta_27) }}

  <div class="centered-text">
    
      <button type="submit" class="btn btn-primary btn-large centered">Terminar</button>
    
  </div>
</form>
{% endblock %}