{% macro render_radio(radio_field) %}
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      {{radio_field.label }}
      <table>
        <tr>
          {% for subfield in radio_field %}   
            <td style="padding: 0px 10px;">
              {{ subfield }}
            </td>
          {% endfor %}    
        </tr>
        
        <tr>
          {% for subfield in radio_field %}   
            <td style="padding: 0px 10px;">
              {{ subfield.label }}
            </td>
          {% endfor %}  
        </tr>
      </table>
    </div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}

{% macro render_radio_horizontal(radio_field) %}
  
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      {{radio_field.label }}
      <table>
        {% for subfield in radio_field %}   
        <tr>
          <td style="padding: 0px 10px;">
            {{ subfield }}
          </td>
          <td>
            {{ subfield.label }}
          </td>
        </tr>
        {% endfor %}    
      </table>
    </div>
    <div class="span3">&nbsp;</div>
  </div>
  
{% endmacro %}

{% macro render_row(field) %}
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">{{ render_field(field) }}</div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}

{% from '_macros.html' import render_field, form_field %}

{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main{% endblock %}

{% block layout %}
<div class="page-header centered-text">
  <h1>Cronotipos</h1>
</div>


<form class="well form-horizontal" action="{{ url_for('cronotipos') }}" method="POST">
  {{ form.hidden_tag() }}

  {{ render_row(form.pregunta_1) }}
  {{ render_row(form.pregunta_2) }}
  {{ render_row(form.pregunta_3) }}

  {{ render_radio(form.pregunta_4) }}


  {{ render_row(form.pregunta_5) }}
  {{ render_row(form.pregunta_6) }}
  {{ render_row(form.pregunta_7) }}

  {{ render_radio(form.pregunta_8) }}

  {{ render_row(form.pregunta_9) }}
  {{ render_row(form.pregunta_10) }}
  {{ render_radio_horizontal(form.pregunta_11) }}
  {{ render_radio_horizontal(form.pregunta_12) }}
  {{ render_radio_horizontal(form.pregunta_13) }}
  {{ render_radio_horizontal(form.pregunta_14) }}
  {{ render_radio_horizontal(form.pregunta_15) }}
  {{ render_radio_horizontal(form.pregunta_16) }}
  {{ render_radio_horizontal(form.pregunta_17) }}
  {{ render_row(form.pregunta_18) }}
  {{ render_radio_horizontal(form.pregunta_19) }}
  {{ render_radio_horizontal(form.pregunta_20) }}
  {{ render_radio_horizontal(form.pregunta_21) }}
  {{ render_radio_horizontal(form.pregunta_22) }}

  <div class="centered-text">
    
      <button type="submit" class="btn btn-primary btn-large centered">Terminar</button>
    
  </div>
</form>
{% endblock %}