<style type="text/css">
  #otros * {
    display: inline-block;
  }

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}
.error_wrapper { 
  display: none
}
.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}


</style>

{% macro render_porque_elegiste(field, params={}) %}
  <div class="row-fluid cronotipos_form" >
    <div class="span3">&nbsp;</div>
    <div class="span6">

    {{ field.label }}
      <table>
        {% for subfield in field.choice_field %}   
        <tr>
          <td style="padding: 0px 10px;">
            {{ subfield( **params ) }}
          </td>
          <td>
            {% if loop.last %}   
              <div class="display: inline-block;" id="otros">{{ subfield.label }}: {{ field.others_field }}</div>
            {% else %}   
              {{ subfield.label }}
            {% endif %}   
          </td>
        </tr>
        {% endfor %}    
      </table>
    </div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}

{% macro render_date(field, params={}) %}
  <div class="row-fluid cronotipos_form" >
    <div class="span3">&nbsp;</div>
    <div class="span6">
      {{ field.label }}
      Mes: {{ field.mes_field( **params ) }} Año: {{ field.anio_field( **params ) }}
    </div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}



{% macro render_hour_field(field, params={}) %}
  <div class="row-fluid cronotipos_form" >
    <div class="span3">&nbsp;</div>
    <div class="span6">
      {{ field.label }}
      {{ field.hours_field( **params ) }} : {{ field.minutes_field( **params )}}
    </div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}


{% macro render_minutes_field(field, params={}) %}
  <div class="row-fluid cronotipos_form" >
    <div class="span3">&nbsp;</div>
    <div class="span6">
      {{ field.label }}
      {{ field( **params ) }}
    </div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}


{% macro render_radio(radio_field, first_label, last_label, params={}) %}
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      {{radio_field.label }}
      <table>
        <tr>
          {% for subfield in radio_field %}   


            {% if loop.first and first_label %}   
              <td style="padding: 0px 10px;">
                &nbsp;
              </td>
            {% endif %}
              <td style="padding: 0px 10px;">
                {{ subfield( **params ) }}
              </td>
            

            {% if loop.last and last_label %}   
              <td style="padding: 0px 10px;">
                
              </td>
            {% endif %}

            
          {% endfor %}    
        </tr>
        
        <tr>
          {% for subfield in radio_field %}
            {% if loop.first and first_label %}   
              <td style="padding: 0px 10px;">
                {{ first_label }}
              </td>
            {% endif %}

            <td style="padding: 0px 10px;">
              {{ subfield.label }}
            </td>

            {% if loop.last and last_label %}   
              <td style="padding: 0px 10px;">
                {{ last_label }}
              </td>
            {% endif %}

          {% endfor %}  
        </tr>
      </table>
    </div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}

{% macro render_radio_horizontal(radio_field, params={}) %}
  
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      {{radio_field.label }}
      <table>
        {% for subfield in radio_field %}   

        <tr>
          <td style="padding: 0px 10px;">
            {{ subfield( **params ) }}
          </td>
          <td>
            {{ subfield.label }}
          </td>
        </tr>
        {% endfor %}    
      </table>
    </div>
    <div class="span3">&nbsp;</div>
  </div>
  
{% endmacro %}

{% macro render_row(field, params={}) %}
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">{{ field.label }}{{ field( **params ) }}</div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}


{% macro render_mail_up(field, params={}) %}
  <div class="row-fluid">
    <div class="span3">&nbsp;</div>
    <div class="span6">{{ field.label }}{{ field( **params ) }}@palermo.edu</div>
    <div class="span3">&nbsp;</div>
  </div>
{% endmacro %}

{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main{% endblock %}

{% block layout %}
<div class="page-header centered-text" id="top">
  <h1>Cuestionario de preferencias diarias y hábitos de sueño</h1>
  <p>Todos los datos ingresados serán confidenciales y tratados de manera anónima.</p>
</div>

{% if form.errors %}
  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
          <div class="alert alert-error centered-text" style="margin-left: 10px; margin-right: 10px;">
            <a class="close" data-dismiss="alert">×</a>
            {{ form[field_name].label }} Elija una opción
          </div>
      </div>            
      {% endfor %}
  {% endfor %}        
{% endif %}

<div class="row-fluid" id="consentimiento" style="padding-left: 30px; padding-right: 30px; width:initial!important;">
  <h1>Bienvenido</h1>
  <p class="lead">Este es un cuestionario para averiguar las preferencias diarias y los hábitos de sueños individuales en seres humanos.</p>
  <p>Por favor, lea la siguiente información antes de decidir participar de esta investigación:</p>
  <div class="my-boxed-outer">
    <div class="my-boxed-inner" style="height: 100px;">
      <p><b>¿Cuál es el objetivo de esta encuesta?</b> El objetivo de esta investigación es estudiar las preferencias diarias y hábitos de sueño individuales en seres humanos.</p>

      <p><b>¿Qué tendré que hacer si decido participar?</b> Deberá completar una serie de preguntas relacionadas con sus hábitos de sueño y sus preferencias diarias.</p>

      <p><b>¿Cuánto tiempo requiere la encuesta?</b> Puede completarse en aproximadamente <b>5 minutos</b> (incluyendo todas las tareas y las preguntas accesorias).</p>

      <p><b>¿De qué manera será utilizada la información que yo comparta con ustedes?</b> La información que usted nos brinde no será compartida con nadie y será tratada de manera confidencial y anónima.</p>

      <p><b>Si abandono una vez la encuesta, ¿puedo volver a hacerla en otro momento?</b> No. Debido a las características de la investigación, cada participante tiene sólo una oportunidad para participar.</p>

      <p><b>¿Qué ocurre si me arrepiento y deseo abandonar antes de completar las preguntas?</b> Su participación en esta investigación es completamente voluntaria y puede abandonarlo en el momento que desee (cerrando el programa que está utilizando para navegar por internet).</p>

      <p><b>¿Cuáles son los riesgos asociados a la participación en esta investigación?</b> No esperamos ningún riesgo asociado a su participación. Aún así, recuerde que su participación es voluntaria y que podrá abandonar la encuesta cuando lo desee.</p>     

      <p><b>¿Cómo puedo contactarme con los investigadores responsables para hacerles consultas, comentarios, etc. relacionados con la investigación?</b>
      Si tiene alguna pregunta o comentario puede escribir a: María Juliana Leone (email: mleone@unq.edu.ar). Además, puede encontrar información de contacto de los directores de los laboratorios involucrados en nuestras páginas web:</p>
      <ul>
        <li>Laboratorio de Neurociencia (Universidad Torcuato Di Tella): http://neuro.org.ar/</li>
        <li>Laboratorio de Cronobiología (Universidad Nacional de Quilmes): http://cronos.unq.edu.ar/</li>
      </ul>

      <p><b>¿En qué proyecto está enmarcada esta investigación?</b>
      Esta investigación forma parte del proyecto “Complejidad y dinámica de procesos cognitivos: Estudios de alta resolución del flujo de información cortical durante una tarea cognitiva”.</p>

      <p><b>¿A quién debo contactar si tengo alguna queja o quiero reportar algún problema relacionado con la investigación?</b>
      Si tiene alguna queja o quiere reportar algún problema asociado con la investigación, por favor contáctese con: Comité de Ética en Investigación, Centro de Educación Médica e Investigaciones Clínicas “Norberto Quirno”. Hospital Universitario sede Saavedra, Av. Galván 4102. Ciudad de Buenos Aires, (C1425DQK) - República Argentina. Tel: 5299-0100, interno 2879. E-mail: pechavarria@cemic.edu.ar</p>
    </div>
  </div>
</div>

<div class="row-fluid  centered-text" id="div_boton_continuar_a_1">
  <div class="span3">&nbsp;</div>
      <div class="span6">
        <button class="btn btn-default" type="button" id="boton_continuar_a_1">Continuar</button>        
      </div>
      <div class="span3">&nbsp;</div>
</div>

<form class="well form-horizontal" action="{{ url_for('cronotipos_results') }}" id="formulario_cronos" method="POST"  data-parsley-validate>
  <div id="formulario_parte_1">
      {{ form.hidden_tag() }}

      <div class="row-fluid">
        <div class="span3">&nbsp;</div>
        <div class="span6">
          <h2>Datos Personales</h2>
        </div>
        <div class="span3">&nbsp;</div>
      </div>

      {{ render_radio_horizontal(form.genero, {'required':True, 'data-parsley-group':'block1' }) }}
      {{ render_date(form.fecha_nacimiento, {'required':True, 'data-parsley-group':'block1' }) }}
      {{ render_mail_up(form.email, {'required':True, 'data-parsley-group':'block1' }) }}
      {{ render_radio_horizontal(form.turno_analisis, {'required':True, 'data-parsley-group':'block1' }) }}

      {{ render_porque_elegiste(form.porque_elegiste_turno, {'required':True, 'data-parsley-group':'block1' } )}}

      {{ render_radio_horizontal(form.trabajas, {'required':True, 'data-parsley-group':'block1' }) }}


  </div>

  <div class="row-fluid  centered-text" id="div_boton_continuar_a_2">
    <div class="span3">&nbsp;</div>
      <div class="span6">
        <button class="btn btn-default" type="button" id="boton_continuar_a_2">Continuar</button>        
      </div>
    <div class="span3">&nbsp;</div>
  </div>

  <div id="formulario_parte_2">
      <div class="row-fluid">
        <div class="span3">&nbsp;</div>
        <div class="span6">
          <h2>¿Cómo es un <b>DÍA HÁBIL</b> tuyo?</h2>
          <p>Los días en que trabajás y/o estudiás</p>
          </div>
        <div class="span3">&nbsp;</div>
      </div>
      
      {{ render_hour_field(form.pregunta_1, {'required':True, 'data-parsley-group':'block2' }) }}
      {{ render_minutes_field(form.pregunta_2, {'required':True, 'data-parsley-group':'block2' }) }}
      {{ render_hour_field(form.pregunta_3, {'required':True, 'data-parsley-group':'block2' }) }}
      {{ render_radio(form.pregunta_4, 'Muy Mal', 'Excelente', {'required':True, 'data-parsley-group':'block2' }) }}
      {{ render_radio(form.pregunta_duermo_siesta_dia_habil,'','',{'required':True, 'data-parsley-group':'block2' }) }}
      {{ render_radio_horizontal(form.pregunta_cuanto_duermo_siesta_dia_habil, {'required':True, 'data-parsley-group':'block2' }) }}
      
      <div class="row-fluid">
        <div class="span3">&nbsp;</div>
        <div class="span6">
          <h2>¿Cómo es un <b>DÍA LIBRE</b> tuyo?</h2>
          <p>Los días en que NO trabajás NI estudiás.</p>
        </div>
        <div class="span3">&nbsp;</div>
      </div>

      
      {{ render_hour_field(form.pregunta_5, {'required':True, 'data-parsley-group':'block2' }) }}
      {{ render_minutes_field(form.pregunta_6, {'required':True, 'data-parsley-group':'block2' }) }}
      {{ render_hour_field(form.pregunta_7, {'required':True, 'data-parsley-group':'block2' }) }}
      {{ render_radio(form.pregunta_8, 'Muy Mal', 'Excelente', {'required':True, 'data-parsley-group':'block2' }) }}
      {{ render_radio(form.pregunta_duermo_siesta_dia_libre,'','',{'required':True, 'data-parsley-group':'block2' }) }}
      {{ render_radio_horizontal(form.pregunta_cuanto_duermo_siesta_dia_libre, {'required':True, 'data-parsley-group':'block2' }) }}

  </div>

  <div class="row-fluid  centered-text" id="div_boton_continuar_a_3">
    <div class="span3">&nbsp;</div>
      <div class="span6">
        <button class="btn btn-default" type="button" id="boton_continuar_a_3">Continuar</button>        
      </div>
    <div class="span3">&nbsp;</div>
  </div>

  <div id="formulario_parte_3">
      {{ render_hour_field(form.pregunta_9, {'required':True, 'data-parsley-group':'block3' }) }}
      {{ render_hour_field(form.pregunta_10, {'required':True, 'data-parsley-group':'block3' }) }}
      {{ render_radio_horizontal(form.pregunta_11, {'required':True, 'data-parsley-group':'block3' }) }}
      {{ render_radio_horizontal(form.pregunta_12, {'required':True, 'data-parsley-group':'block3' }) }}
      {{ render_radio_horizontal(form.pregunta_13, {'required':True, 'data-parsley-group':'block3' }) }}
      {{ render_radio_horizontal(form.pregunta_14, {'required':True, 'data-parsley-group':'block3' }) }}
  </div>

  <div class="row-fluid  centered-text" id="div_boton_continuar_a_4" >
    <div class="span3">&nbsp;</div>
      <div class="span6">
        <button class="btn btn-default" type="button" id="boton_continuar_a_4">Continuar</button>        
      </div>
    <div class="span3">&nbsp;</div>
  </div>

  <div id="formulario_parte_4">
      {{ render_radio_horizontal(form.pregunta_15, {'required':True, 'data-parsley-group':'block4' }) }}
      {{ render_radio_horizontal(form.pregunta_16, {'required':True, 'data-parsley-group':'block4' }) }}
      {{ render_radio_horizontal(form.pregunta_17, {'required':True, 'data-parsley-group':'block4' }) }}
      {{ render_hour_field(form.pregunta_18, {'required':True, 'data-parsley-group':'block4' }) }}
      {{ render_radio_horizontal(form.pregunta_19, {'required':True, 'data-parsley-group':'block4' }) }}
      {{ render_radio_horizontal(form.pregunta_20, {'required':True, 'data-parsley-group':'block4' }) }}
  </div>

  <div class="row-fluid  centered-text" id="div_boton_continuar_a_5">
    <div class="span3">&nbsp;</div>
      <div class="span6">
        <button class="btn btn-default" type="button" id="boton_continuar_a_5">Continuar</button>        
      </div>
    <div class="span3">&nbsp;</div>
  </div>

  <div id="formulario_parte_5">

      {{ render_radio_horizontal(form.pregunta_21, {'required':True, 'data-parsley-group':'block5' }) }}
      {{ render_radio_horizontal(form.pregunta_22, {'required':True, 'data-parsley-group':'block5' }) }}
      {{ render_radio_horizontal(form.pregunta_23, {'required':True, 'data-parsley-group':'block5' }) }}
      {{ render_radio_horizontal(form.pregunta_24, {'required':True, 'data-parsley-group':'block5' }) }}
      {{ render_hour_field(form.pregunta_25, {'required':True, 'data-parsley-group':'block5' }) }}
      {{ render_hour_field(form.pregunta_26, {'required':True, 'data-parsley-group':'block5' }) }}
      {{ render_radio_horizontal(form.pregunta_27, {'required':True, 'data-parsley-group':'block5' }) }}

      {{ render_row(form.comments) }}

      <div class="centered-text">
        
          <button type="submit" class="btn btn-primary btn-large centered" id="boton_terminar">Terminar</button>
        
      </div>
  </div>
</form>
<script type="text/javascript">
$(document).ready(function () {
  $.each($('option[value="empty"]'), function (i, val) {
    $(val).attr('disabled', 'disabled');
  });
  
  {% if not form.errors %}
    $('#formulario_parte_1').hide();
    $('#formulario_parte_2').hide();
    $('#formulario_parte_3').hide();
    $('#formulario_parte_4').hide();
    $('#formulario_parte_5').hide();
    $('#div_boton_continuar_a_2').hide();
    $('#div_boton_continuar_a_3').hide();
    $('#div_boton_continuar_a_4').hide();
    $('#div_boton_continuar_a_5').hide();
    
  {% else %}
    $('#consentimiento').hide();
    $('#div_boton_continuar_a_1').hide();
    $('#div_boton_continuar_a_2').hide();
    $('#div_boton_continuar_a_3').hide();
    $('#div_boton_continuar_a_4').hide();
    $('#div_boton_continuar_a_5').hide();
  {% endif %}

  $('#boton_continuar_a_1').click(function () {

    $('#div_boton_continuar_a_1').hide();
    $('#div_boton_continuar_a_2').show();
    $('#consentimiento').hide();
    $('#formulario_parte_1').show();
    $('html, body').animate({
        scrollTop: $("#top").offset().top
    }, 150);
    
  });

  $('#boton_continuar_a_2').click(function () {
    if (false === $('#formulario_cronos').parsley().validate('block1')) {
      alert('Por favor completá todos los campos.');
      return;
    }
      
    $('#div_boton_continuar_a_2').hide();
    $('#div_boton_continuar_a_3').show();
    $('#formulario_parte_1').hide();
    $('#formulario_parte_2').show();
    $('html, body').animate({
        scrollTop: $("#top").offset().top
    }, 150);
  });

  $('#boton_continuar_a_3').click(function () {
    if (false === $('#formulario_cronos').parsley().validate('block2')) {
      alert('Por favor completá todos los campos.');
      return;
    }
    $('#div_boton_continuar_a_3').hide();
    $('#div_boton_continuar_a_4').show();
    $('#formulario_parte_2').hide();
    $('#formulario_parte_3').show();
    $('html, body').animate({
        scrollTop: $("#top").offset().top
    }, 150);
  });

  $('#boton_continuar_a_4').click(function () {
    if (false === $('#formulario_cronos').parsley().validate('block3')) {
      alert('Por favor completá todos los campos.');
      return;
    }
    $('#div_boton_continuar_a_4').hide();
    $('#div_boton_continuar_a_5').show();
    $('#formulario_parte_3').hide();
    $('#formulario_parte_4').show();
    $('html, body').animate({
        scrollTop: $("#top").offset().top
    }, 150);
  });

  $('#boton_continuar_a_5').click(function () {
    if (false === $('#formulario_cronos').parsley().validate('block4')) {
      alert('Por favor completá todos los campos.');
      return;
    }
    $('#div_boton_continuar_a_5').hide();
    $('#formulario_parte_4').hide();
    $('#formulario_parte_5').show();
    $('html, body').animate({
        scrollTop: $("#top").offset().top
    }, 150);
  });

  $('#boton_terminar').click(function () {
    if (false === $('#formulario_cronos').parsley().validate('block5')) {
      alert('Por favor completá todos los campos.');
      return false;
    }
    return true;
  });

  $("#formulario_cronos" ).submit(function( event ) {
    if (false === $('#formulario_cronos').parsley().validate('block5')) {
      alert('Por favor completá todos los campos.');
      event.preventDefault();
    }
    return true;
  
  });
  
});
</script>

{% endblock %}