{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main main-index{% endblock %}

{% block layout %}
<div class="container-fluid">
  <div class="hero-unit">
    <h1>Bienvenidos</h1>
    <p>
      Este sitio contiene los experimentos del <a href="http://www.neuro.org.ar/">Laboratorio Neurociencia Integrativa</a> para <a href="http://www.tedxriodelaplata.org/">TEDXRíodelaPlata</a>
    </p>
    <p>Un total de <strong>{{ total_users }}</strong> personas se registraron y experimentaron con nosotros!.</p>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="well repo-info">
        <h2>Flask-Security</h2>
        <ul class="repo-actions">
          <li>
            <iframe src="http://ghbtns.com/github-btn.html?user=mattupstate&repo=flask-security&type=watch&count=true&size=large"
                    allowtransparency="true" frameborder="0" scrolling="0" width="130px" height="30px"></iframe>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="well repo-info">
        <h2>Flask-Social</h2>
        <ul class="repo-actions">
          <li>
            <iframe src="http://ghbtns.com/github-btn.html?user=mattupstate&repo=flask-social&type=watch&count=true&size=large"
                    allowtransparency="true" frameborder="0" scrolling="0" width="130px" height="30px"></iframe>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="well repo-info">
        <h2>This Website</h2>
        <ul class="repo-actions">
          <li>
            <iframe src="http://ghbtns.com/github-btn.html?user=mattupstate&repo=flask-social-example&type=watch&count=true&size=large"
                    allowtransparency="true" frameborder="0" scrolling="0" width="130px" height="30px"></iframe>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1">
    </div>
  </div>
</div>
{% endblock %}