{% from '_macros.html' import render_field %}

{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main main-login{% endblock %}

{% macro social_login(provider_id, display_name) %}
  <form action="{{ url_for('social.login', provider_id=provider_id) }}" method="POST">
    <button type="submit" class="btn btn-primary btn-large">Entrar con {{ display_name }}</button>
  </form>
{% endmacro %}

{% if form.errors %}
  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
          <div class="alert alert-error centered-text" style="margin-left: 10px; margin-right: 10px;">
            <a class="close" data-dismiss="alert">×</a>
            {{ form[field_name].label }} Elija una opción
          </div>
      </div>            
      {% endfor %}
  {% endfor %}        
{% endif %}


{% block layout %}
<div class="page-header centered-text">
  <h1>Entrar</h1>
</div>
<div class="row-fluid container-fluid centered-text">
  <div class="span2">&nbsp;</div>
  <div class="span8">

  <form class="well" action="{{ url_for('login') }}" method="POST">
    <input type="hidden" name="next" value="{{ next or '' }}">
    {{ form.hidden_tag() }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    <div class="centered">
    <label class="checkbox" style="display: inherit;">Recordarme <input id="remember" name="remember" type="checkbox" value="y" style=" float: initial; display: initial; margin: 0 0;"></label>
    </div>
    <button type="submit" class="btn btn-primary btn-large">Entrar</button>
  </form>  
  </div>
  <div class="span2">&nbsp;</div>
</div>
{% endblock %}
