{% from '_macros.html' import render_field %}

{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main main-register{% endblock %}

{% macro social_register(provider_id, display_name) %}
  <form action="{{ url_for('social.login', provider_id=provider_id) }}" method="POST">
    <button type="submit" class="btn btn-primary btn-large">Entra con {{ display_name }}</button>
  </form>
{% endmacro %}

{% block layout %}
<div class="page-header centered-text">
  <h1>Registrarte</h1>
</div>
{% if login_failed %}
<h3>Registrarse con la cuenta de {{ provider.name }}: {{ connection_values['display_name'] }}</h3>
{% endif %}

{% if form.errors %}
  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
          <div class="alert alert-error centered-text" style="width: 50%; margin: 10px auto;">
            <a class="close" data-dismiss="alert">×</a>
            {{ error }}
          </div>
      </div>            
      {% endfor %}
  {% endfor %}        
{% endif %}
<div class="row-fluid content">
  
  <div class="span2">&nbsp;</div>
  <div class="span8 centered-text">
    <form class="well" action="{{ url_for('register', provider_id=provider.id if provider else None) }}" method="POST">
      <input type="hidden" name="next" value="{{ next or '' }}">
      {{ form.hidden_tag() }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
      {{ render_field(form.name) }}
      {{ render_field(form.age) }}
      {{ render_field(form.sex) }}
      {{ render_field(form.twitter_handle) }}
      <button type="submit" class="btn btn-primary btn-large">Crear Usuario</button>
    </form>
  </div>
  
  <div class="span2">&nbsp;</div>
</div>
{% endblock %}